BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
# BreakBeforeBraces: Stroustrup
ColumnLimit: 0
IndentCaseLabels: false
IndentWidth: 4
SortIncludes: true
TabWidth: 4